<?xml version="1.0" ?>

<launch>
  <!--
    '__ns' is needed as an explicit argument because it does not propagate as an argument to the included launch files.
    as eval may not contain double underscore expressions, a new argument (eval_underscore_bypass) is defined to by-pass this issue.
    when a namespace is specified, it is also converted into prefix with a trailing slash.
  -->

  <!-- Mapping method-->
  <include file="$(find demo_slam_hector)/launch/hector_slam.launch"/>

  <!-- Launch 2d slam -->
  <include file="$(find demo_slam)/launch/2d_slam_support.launch"/>

</launch>
